//****************************************************************************************************
//
// .. VARIABLES
//
//****************************************************************************************************
//
// .. Colors (flatuicolors.com)
//
$c-color-red:    #c0392b; // .. pomegranate
$c-color-orange: #e67e22; // .. carrot
$c-color-yellow: #f1c40f; // .. sun flower
$c-color-green:  #27ae60; // .. nephritis
$c-color-blue:   #2980b9; // .. belize hole
$c-color-violet: #9b59b6; // .. amethyst
$c-color-gray:   #95a5a6; // .. concrete
$c-color-dark:   #2c3e50; // .. midnight blue

$c-color-red-hover: #cc6055;



//****************************************************************************************************
//
// .. BACKGROUNDS
//
//****************************************************************************************************
.c-bg {
  &.__red    {background-color: fade-out($c-color-red,    .5);}
  &.__orange {background-color: fade-out($c-color-orange, .5);}
  &.__yellow {background-color: fade-out($c-color-yellow, .5);}
  &.__green  {background-color: fade-out($c-color-green,  .5);}
  &.__blue   {background-color: fade-out($c-color-blue,   .5);}
  &.__violet {background-color: fade-out($c-color-violet, .5);}
  &.__gray   {background-color: fade-out($c-color-gray,   .5);}
  &.__dark   {background-color: fade-out($c-color-dark,   .5);}
}



//****************************************************************************************************
//
// .. BADGES
//
//****************************************************************************************************
.c-badge {
  padding: .1rem .6rem;
  color: #fff;
  font-size: 1.3rem;
  border-radius: .3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .33);

  &.__round  {border-radius: .9rem;}

  &.__red    {background: $c-color-red;}
  &.__orange {background: $c-color-orange;}
  &.__yellow {background: $c-color-yellow;}
  &.__green  {background: $c-color-green;}
  &.__blue   {background: $c-color-blue;}
  &.__violet {background: $c-color-violet;}
  &.__gray   {background: $c-color-gray;}
  &.__dark   {background: $c-color-dark;}
}



//****************************************************************************************************
//
// .. BUTTONS
//
//****************************************************************************************************
.c-form_button {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .33);
  
  &[disabled] {text-shadow: none;}

  &:not([disabled]):hover {box-shadow: inset 0 0 .6em rgba(255, 255, 255, .33);}
  
  &.__small {
    padding: .15rem .75rem;
    font-size: 1.33rem;
  }
  &.__large {
    padding: .6rem 3rem;
    font-size: 2rem;
  }

  &.__red {
    background: #cc6055;
    background: -moz-linear-gradient(top, #cc6055 0%, #c0392b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc6055), color-stop(100%,#c0392b));
    background: -webkit-linear-gradient(top, #cc6055 0%, #c0392b 100%);
    background: -o-linear-gradient(top, #cc6055 0%, #c0392b 100%);
    background: -ms-linear-gradient(top, #cc6055 0%, #c0392b 100%);
    background: linear-gradient(to bottom, #cc6055 0%, #c0392b 100%);
    border-color: $c-color-red;
  }
  &.__red:not([disabled]):active {
    background: #c0392b;
    background: -moz-linear-gradient(top, #c0392b 0%, #cc6055 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0392b), color-stop(100%,#cc6055));
    background: -webkit-linear-gradient(top, #c0392b 0%, #cc6055 100%);
    background: -o-linear-gradient(top, #c0392b 0%, #cc6055 100%);
    background: -ms-linear-gradient(top, #c0392b 0%, #cc6055 100%);
    background: linear-gradient(to bottom, #c0392b 0%, #cc6055 100%);
  }

  &.__orange {
    background: #eb974e;
    background: -moz-linear-gradient(top, #eb974e 0%, #e67e22 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb974e), color-stop(100%,#e67e22));
    background: -webkit-linear-gradient(top, #eb974e 0%, #e67e22 100%);
    background: -o-linear-gradient(top, #eb974e 0%, #e67e22 100%);
    background: -ms-linear-gradient(top, #eb974e 0%, #e67e22 100%);
    background: linear-gradient(to bottom, #eb974e 0%, #e67e22 100%);
    border-color: $c-color-orange;
  }
  &.__orange:not([disabled]):active {
    background: #e67e22;
    background: -moz-linear-gradient(top, #e67e22 0%, #eb974e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e67e22), color-stop(100%,#eb974e));
    background: -webkit-linear-gradient(top, #e67e22 0%, #eb974e 100%);
    background: -o-linear-gradient(top, #e67e22 0%, #eb974e 100%);
    background: -ms-linear-gradient(top, #e67e22 0%,#eb974e 100%);
    background: linear-gradient(to bottom, #e67e22 0%, #eb974e 100%);
  }

  &.__yellow {
    background: #f3cf3f;
    background: -moz-linear-gradient(top, #f3cf3f 0%, #f1c40f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3cf3f), color-stop(100%,#f1c40f));
    background: -webkit-linear-gradient(top, #f3cf3f 0%, #f1c40f 100%);
    background: -o-linear-gradient(top, #f3cf3f 0%, #f1c40f 100%);
    background: -ms-linear-gradient(top, #f3cf3f 0%, #f1c40f 100%);
    background: linear-gradient(to bottom, #f3cf3f 0%, #f1c40f 100%);
    border-color: $c-color-yellow;
  }
  &.__yellow:not([disabled]):active {
    background: #f1c40f;
    background: -moz-linear-gradient(top, #f1c40f 0%, #f3cf3f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1c40f), color-stop(100%,#f3cf3f));
    background: -webkit-linear-gradient(top, #f1c40f 0%, #f3cf3f 100%);
    background: -o-linear-gradient(top, #f1c40f 0%, #f3cf3f 100%);
    background: -ms-linear-gradient(top, #f1c40f 0%, #f3cf3f 100%);
    background: linear-gradient(to bottom, #f1c40f 0%, #f3cf3f 100%);
  }

  &.__green {
    background: #52be7f;
    background: -moz-linear-gradient(top, #52be7f 0%, #27ae60 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52be7f), color-stop(100%,#27ae60));
    background: -webkit-linear-gradient(top, #52be7f 0%, #27ae60 100%);
    background: -o-linear-gradient(top, #52be7f 0%, #27ae60 100%);
    background: -ms-linear-gradient(top, #52be7f 0%, #27ae60 100%);
    background: linear-gradient(to bottom, #52be7f 0%, #27ae60 100%);
    border-color: $c-color-green;
  }
  &.__green:not([disabled]):active {
    background: #27ae60;
    background: -moz-linear-gradient(top, #27ae60 0%, #52be7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#27ae60), color-stop(100%,#52be7f));
    background: -webkit-linear-gradient(top, #27ae60 0%, #52be7f 100%);
    background: -o-linear-gradient(top, #27ae60 0%, #52be7f 100%);
    background: -ms-linear-gradient(top, #27ae60 0%, #52be7f 100%);
    background: linear-gradient(to bottom, #27ae60 0%, #52be7f 100%);
  }

  &.__blue {
    background: #5399c7;
    background: -moz-linear-gradient(top, #5399c7 0%, #2980b9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5399c7), color-stop(100%,#2980b9));
    background: -webkit-linear-gradient(top, #5399c7 0%, #2980b9 100%);
    background: -o-linear-gradient(top, #5399c7 0%, #2980b9 100%);
    background: -ms-linear-gradient(top, #5399c7 0%, #2980b9 100%);
    background: linear-gradient(to bottom, #5399c7 0%, #2980b9 100%);
    border-color: $c-color-blue;
  }
  &.__blue:not([disabled]):active {
    background: #2980b9;
    background: -moz-linear-gradient(top, #2980b9 0%, #5399c7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2980b9), color-stop(100%,#5399c7));
    background: -webkit-linear-gradient(top, #2980b9 0%, #5399c7 100%);
    background: -o-linear-gradient(top, #2980b9 0%, #5399c7 100%);
    background: -ms-linear-gradient(top, #2980b9 0%, #5399c7 100%);
    background: linear-gradient(to bottom, #2980b9 0%, #5399c7 100%);
  }

  &.__violet {
    background: #af7ac4;
    background: -moz-linear-gradient(top, #af7ac4 0%, #9b59b6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af7ac4), color-stop(100%,#9b59b6));
    background: -webkit-linear-gradient(top, #af7ac4 0%, #9b59b6 100%);
    background: -o-linear-gradient(top, #af7ac4 0%, #9b59b6 100%);
    background: -ms-linear-gradient(top, #af7ac4 0%, #9b59b6 100%);
    background: linear-gradient(to bottom, #af7ac4 0%, #9b59b6 100%);
    border-color: $c-color-violet;
  }
  &.__violet:not([disabled]):active {
    background: #9b59b6;
    background: -moz-linear-gradient(top, #9b59b6 0%, #af7ac4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b59b6), color-stop(100%,#af7ac4));
    background: -webkit-linear-gradient(top, #9b59b6 0%, #af7ac4 100%);
    background: -o-linear-gradient(top, #9b59b6 0%, #af7ac4 100%);
    background: -ms-linear-gradient(top, #9b59b6 0%, #af7ac4 100%);
    background: linear-gradient(to bottom, #9b59b6 0%, #af7ac4 100%);
  }

  &.__gray {
    background: #aab7b7;
    background: -moz-linear-gradient(top, #aab7b7 0%, #95a5a6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aab7b7), color-stop(100%,#95a5a6));
    background: -webkit-linear-gradient(top, #aab7b7 0%, #95a5a6 100%);
    background: -o-linear-gradient(top, #aab7b7 0%, #95a5a6 100%);
    background: -ms-linear-gradient(top, #aab7b7 0%, #95a5a6 100%);
    background: linear-gradient(to bottom, #aab7b7 0%, #95a5a6 100%);
    border-color: $c-color-gray;
  }
  &.__gray:not([disabled]):active {
    background: #95a5a6;
    background: -moz-linear-gradient(top, #95a5a6 0%, #aab7b7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95a5a6), color-stop(100%,#aab7b7));
    background: -webkit-linear-gradient(top, #95a5a6 0%, #aab7b7 100%);
    background: -o-linear-gradient(top, #95a5a6 0%, #aab7b7 100%);
    background: -ms-linear-gradient(top, #95a5a6 0%, #aab7b7 100%);
    background: linear-gradient(to bottom, #95a5a6 0%, #aab7b7 100%);
  }

  &.__dark {
    background: #566473;
    background: -moz-linear-gradient(top, #566473 0%, #2c3e50 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#566473), color-stop(100%,#2c3e50));
    background: -webkit-linear-gradient(top, #566473 0%, #2c3e50 100%);
    background: -o-linear-gradient(top, #566473 0%, #2c3e50 100%);
    background: -ms-linear-gradient(top, #566473 0%, #2c3e50 100%);
    background: linear-gradient(to bottom, #566473 0%, #2c3e50 100%);
    border-color: $c-color-dark;
  }
  &.__dark:not([disabled]):active {
    background: #2c3e50;
    background: -moz-linear-gradient(top, #2c3e50 0%, #566473 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c3e50), color-stop(100%,#566473));
    background: -webkit-linear-gradient(top, #2c3e50 0%, #566473 100%);
    background: -o-linear-gradient(top, #2c3e50 0%, #566473 100%);
    background: -ms-linear-gradient(top, #2c3e50 0%, #566473 100%);
    background: linear-gradient(to bottom, #2c3e50 0%, #566473 100%);
  }
}



//****************************************************************************************************
//
// .. COLORS
//
//****************************************************************************************************
.c-color {
  &.__red    {color: $c-color-red;}
  &.__orange {color: $c-color-orange;}
  &.__yellow {color: $c-color-yellow;}
  &.__green  {color: $c-color-green;}
  &.__blue   {color: $c-color-blue;}
  &.__violet {color: $c-color-violet;}
  &.__gray   {color: $c-color-gray;}
  &.__dark   {color: $c-color-dark;}
}



//****************************************************************************************************
//
// .. PAGINATION
//
//****************************************************************************************************
.c-pagination {
  font-size: 2rem;
  text-align: center;
}
  .c-pagination_i {
    display: inline-block;
    vertical-align: top;
  }
    .c-pagination_a {
      display: block;
      padding: 0 1rem;
      color: #333;
      text-decoration: none;
      &:hover,
      &.__current {
        background: #ccc;
        color: #666;
      }
      &.__disabled {
        background: none;
        color: #ccc;
        cursor: default;
      }
      &.__spacer {
        background: none;
        color: inherit;
      }
    }