.alert {
  padding: 4rem;
  text-align: center;
}

//
// .. Disabled JavaScript
//
.alert.__no-js {
  display: none;
  background: #ffd700;
}
.no-js .alert.__no-js {display: block;} // .. if disabled javascript