@mixin calc($classname, $property, $result) {
  @for $i from 1 through $column-qty {
    $result: $result + $column-width + $column-gutter;
    .#{$classname}-#{$i} {
      #{$property}: #{$result}px; 
    }
  }
}



//****************************************************************************************************
//
// .. STYLES
//
//****************************************************************************************************
body {min-width: #{($column-width + $column-gutter) * $column-qty}px;}

.ctn {width: #{(($column-width + $column-gutter) * $column-qty) - $column-gutter}px;}

.visible-phone,
.visible-tablet,
.hidden-desktop {display: none !important;}



//****************************************************************************************************
//
// .. GRID
//
//****************************************************************************************************
.grid {
  margin-bottom: -#{$column-gutter}px;
  margin-left: -#{$column-gutter}px;
}
  .grid > [class*="grid-"] {
    display: inline-block;
    margin-bottom: #{$column-gutter}px;
    margin-left: #{$column-gutter}px;
    vertical-align: top;
    @include border-box;
  }

@include calc('grid', 'width', -$column-gutter);



//****************************************************************************************************
//
// .. PREFIX, SUFFIX
//
//****************************************************************************************************
@include calc('prefix', 'margin-left', 0);
@include calc('grid > .prefix', 'margin-left', $column-gutter);
@include calc('suffix', 'margin-right', 0);