@mixin bg-size ($value) {
  -webkit-background-size: $value;
       -o-background-size: $value;
          background-size: $value;
}

@mixin transition ($value) {
  -webkit-transition: $value;
     -moz-transition: $value;
      -ms-transition: $value;
       -o-transition: $value;
          transition: $value;
}


//****************************************************************************************************
//
// .. STYLES
//
//****************************************************************************************************
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  background:  $base-bg;
  color:       $base-color;
  font-family: $base-font-family;
  font-size:   $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;  
  -webkit-backface-visibility: hidden; // .. http://goo.gl/bNpRD4
}

hr {
  margin: 0;
  border: 0;
}

img {
  font-style: italic;
  -ms-interpolation-mode: bicubic;
}

menu, ul {list-style: none;}
ol, .numbered {list-style: decimal outside;}



//****************************************************************************************************
//
// .. LINKS
//
//****************************************************************************************************
a {
  display: inline-block;
  color: $links-color;
}
a:hover  {color: $links-color-hover;}
a:active {color: $links-color-active;}



//****************************************************************************************************
//
// .. HEADINGS
//
//****************************************************************************************************
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: $h-font-family;
  text-rendering: optimizeLegibility;
}

h1, .alpha {
  color:       $h1-color;
  font-size:   $h1-font-size;
  font-weight: $h1-font-weight; 
  line-height: $h1-line-height;
}
h2, .beta {
  color:       $h2-color;
  font-size:   $h2-font-size;
  font-weight: $h2-font-weight;
  line-height: $h2-line-height;
}
h3, .gamma {
  color:       $h3-color;
  font-size:   $h3-font-size;
  font-weight: $h3-font-weight;
  line-height: $h3-line-height;
}
h4, .delta {
  color:       $h4-color;
  font-size:   $h4-font-size;
  font-weight: $h4-font-weight;
  line-height: $h4-line-height;
}
h5, .epsilon {
  color:       $h5-color;
  font-size:   $h5-font-size;
  font-weight: $h5-font-weight;
  line-height: $h5-line-height;
}
h6, .zeta {
  color:       $h6-color;
  font-size:   $h6-font-size;
  font-weight: $h6-font-weight;
  line-height: $h6-line-height;
}

h1 > a, h1 > .a.__inner > span,
h2 > a, h2 > .a.__inner > span,
h3 > a, h3 > .a.__inner > span,
h4 > a, h4 > .a.__inner > span,
h5 > a, h5 > .a.__inner > span,
h6 > a, h6 > .a.__inner > span {
  text-decoration: none;
  @include transition(color .33s);
}
 


//****************************************************************************************************
//
// .. FORM ELEMENTS
//
//****************************************************************************************************
button, input, select, textarea {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: inherit;
}

button::-moz-focus-inner,
 input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input::-ms-clear {display: none;}

input, textarea {resize: none;}



//****************************************************************************************************
//
// .. PROPERTIES
//
//****************************************************************************************************
//
// .. Cursors
//
.c-d {cursor: default;}
.c-p {cursor: pointer;}

//
// .. Font-style
//
.fs-i {font-style: italic;}

//
// .. Font-weight
//
@for $i from 1 through 9 {
  $i: $i * 100;
  .fw-#{$i} {font-weight: $i;}
}

//
// .. Vertical-align
//
.va-bl {vertical-align: baseline;}
.va-t  {vertical-align: top;}
.va-m  {vertical-align: middle;}
.va-b  {vertical-align: bottom;}



//****************************************************************************************************
//
// .. HELPERS
//
//****************************************************************************************************

//
// .. Round element
//
.round {border-radius: 50%;}

//
// .. Text color
//
.tx.__lighten-25 {color: $tx-lighten-25;}
.tx.__lighten-33 {color: $tx-lighten-33;}
.tx.__lighten-50 {color: $tx-lighten-50;}
.tx.__lighten-66 {color: $tx-lighten-66;}
.tx.__lighten-75 {color: $tx-lighten-75;}

.tx.__darken-25 {color: $tx-darken-25;}
.tx.__darken-33 {color: $tx-darken-33;}
.tx.__darken-50 {color: $tx-darken-50;}
.tx.__darken-66 {color: $tx-darken-66;}
.tx.__darken-75 {color: $tx-darken-75;}

//
// .. Text font-size
//
.tx.__xxs {font-size: $tx-xxs;}
.tx.__xs  {font-size: $tx-xs;}
.tx.__s   {font-size: $tx-s;}
.tx.__m   {font-size: $base-font-size;}
.tx.__l   {font-size: $tx-l;}
.tx.__xl  {font-size: $tx-xl;}
.tx.__xxl {font-size: $tx-xxl;}

//
// .. Text-align
//
.tx.__left   {text-align: left;}
.tx.__center {text-align: center;}
.tx.__right  {text-align: right;}

//
// .. Text-transform
//
.tx.__lower {text-transform: lowercase;}
.tx.__upper {text-transform: uppercase;}