html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  background: #000;
  color: #0b0b0b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  height: 100%;
  line-height: 1.2;
  min-height: 750px;
  min-width: 1000px;
  position: relative;
  -webkit-backface-visibility: hidden;
}

/* HELPERS */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {clear: both;}

.f-l {float: left;}
.f-r {float: right;}

/* LINKS */
a {
  color: #80c9ff;
  text-decoration: none;
}

/* CONTENT */
.scroll-pane {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* LAYOUTS */
.ctn {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 980px;
}

/* HEADER */
.header {
  left: 0;
  height: 5.8rem;
  line-height: 5.8rem;
  margin-top: 2.6rem;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 9998;
}
.header > .ctn {
  position: relative;
}
.header_t {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

  .logo {
    left: 6rem;
    position: absolute;
    top: 0;
    vertical-align: top;
  }

/* MAIN */
.main {
  display: block;
  height: 100%;
}

/* PAGE */
.page {
  bottom: 0;
  top: 0;
}
.page > .ctn {
  height: 100%;
  position: relative;
}
.page > .ctn > .page_inner {
  bottom: 11rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 11rem;
}

.page.__home {}
.page.__home > .ctn {}
.page.__home > .ctn > .page_inner {}

.page.__about {}
.page.__about > .ctn {width: 860px;}
.page.__about > .ctn > .page_inner {background: #fff; padding: 3rem; opacity: .85;}

.page.__terms {}
.page.__terms > .ctn {width: 860px;}
.page.__terms > .ctn > .page_inner {background: #fff; padding: 3rem; opacity: .85;}

.page.__feedback {}
.page.__feedback > .ctn {width: 860px;}
.page.__feedback > .ctn > .page_inner {background: #dcdde2;}

/* INDEX */
.index {

}
.index_side {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform:    translate(0, -50%);
  -ms-transform:     translate(0, -50%);
  -o-transform:      translate(0, -50%);
  transform:         translate(0, -50%);
}
.index_side.__left {
  left: 0;
  width: 550px;
}
.index_side.__right {
  right: 0;
  width: 376px;
}

/* Content */
.index_cnt {
  margin-bottom: 5rem;
}
.index_cnt > ul  {
  font-size: 2.2rem;
  margin-left: 6rem;
}
.index_cnt > ul > li {
  color: #fff;
  list-style: none;
  position: relative;
  text-shadow: .2rem .2rem .4rem #000;
}
.index_cnt > ul > li::before {
  content: '';
  background: url(/assets/images/list.png) 0 0 no-repeat;
  height: 38px;
  left: -6rem;
  margin-top: -19px;
  position: absolute;
  top: 50%;
  width: 21px;
}
.index_cnt > ul > li:not(:last-child) {margin-bottom: 4.5rem;}
.index_cnt > ul > li > strong {
  color: #80c9ff;
  font-weight: bold;
}

/* Apps links */
.index_apps {
  margin-bottom: 2.5rem;
  margin-left: 6rem;
}
.index_apps_a {
  margin-right: 5rem;
}
.index_apps_a > img {vertical-align: top;}

/* iPhone */
.index_iphone {
  bottom: -50px;
  position: absolute;
  /*right: -55px;*/
  right: 0;
}

/* FOOTER */
.footer {
  background-color: rgba(24, 24, 24, .6);
  bottom: 0;
  padding: 1.8rem 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
}
.footer > .ctn {
  position: relative;
}

/* NAV */
.nav {
  text-align: center;
}
.nav_a {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0 5rem;
  text-transform: uppercase;
}
.nav_a:hover,
.nav_a.cycle-pager-active {
  color: #fff;
}

.nav_a.__home {
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
}
.nav_a.__home > img {
  background: url(/assets/images/home.png) 0 0 no-repeat;
  height: 20px;
  width: 22px;
}
.nav_a.__home:hover > img,
.nav_a.__home.cycle-pager-active > img {
  background-position: -22px 0;
}

/* SOCIAL NAV */
.social {
  position: absolute;
  right: 0;
  top: -.5rem;
}
.social_i {
  margin-left: 1.3rem;
}

/* ICONS */
.ico {
  display: inline-block;
}
.ico.__30 {
  background-image: url(/assets/images/ico-30.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}
.ico.__30.__fb {background-position: 0 0;}
.ico.__30.__tw {background-position: -30px 0;}