html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  background: #000;
  color: #0b0b0b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  height: 100%;
  line-height: 1.2;
  height: 100%;
  min-height: 750px;
  min-width: 1000px;
  position: relative;
  -webkit-backface-visibility: hidden;
}

b {font-weight: 700;}

/* HELPERS */
.tx.__center {
  text-align: center;
}

/* LINKS */
a {
  color: #80c9ff;
  text-decoration: none;
}

/* CONTENT */
.scroll-pane {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* LAYOUTS */
.ctn {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 980px;
}

/* HEADER */
.header {
  left: 0;
  height: 5.8rem;
  line-height: 5.8rem;
  margin-top: 2.6rem;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 9998;
}
.header > .ctn {
  position: relative;
}
.header_t {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

  .logo {
    left: 6rem;
    position: absolute;
    top: 0;
    vertical-align: top;
  }

/* MAIN */
.main {
  height: 100%;
  overflow: hidden;
}

/* PAGE */
.page {
  bottom: 0;
  top: 0;
}
.page > .ctn {
  height: 100%;
  position: relative;
}
.page > .ctn > .page_inner {
  bottom: 11rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 11rem;
}

.page.__home {}
.page.__home > .ctn {}
.page.__home > .ctn > .page_inner {}

.page.__about {}
.page.__about > .ctn {width: 860px;}
.page.__about > .ctn > .page_inner {background: #fff; padding: 3rem; opacity: .85;}

.page.__terms {}
.page.__terms > .ctn {width: 860px;}
.page.__terms > .ctn > .page_inner {background: #fff; padding: 3rem; opacity: .85;}

.page.__feedback {}
.page.__feedback > .ctn {width: 860px;}
.page.__feedback > .ctn > .page_inner {}

/* INDEX */
.index {

}
.index_side {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform:    translate(0, -50%);
  -ms-transform:     translate(0, -50%);
  -o-transform:      translate(0, -50%);
  transform:         translate(0, -50%);
}
.index_side.__left {
  left: 0;
  width: 550px;
}
.index_side.__right {
  right: 0;
  width: 376px;
}

/* Title */
.index_t {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  margin-left: 6rem;
}

/* Content */
.index_cnt {
  margin-bottom: 5rem;
}
.index_cnt > ul  {
  font-size: 2.2rem;
  font-weight: 300;
  margin-left: 6rem;
}
.index_cnt > ul > li {
  color: #fff;
  list-style: none;
  position: relative;
  text-shadow: .2rem .2rem .4rem #000;
}
.index_cnt > ul > li::before {
  content: '';
  background: url(/assets/images/list.png) 0 0 no-repeat;
  height: 38px;
  left: -6rem;
  margin-top: -19px;
  position: absolute;
  top: 50%;
  width: 21px;
}
.index_cnt > ul > li:not(:last-child) {margin-bottom: 2.5rem;}
.index_cnt > ul > li > span {
  color: #80c9ff;
}

/* Apps links */
.index_apps {
  margin-bottom: 2.5rem;
  margin-left: 6rem;
}
.index_apps_a {
  margin-right: 5rem;
}
.index_apps_a > img {vertical-align: top;}

/* iPhone */
.index_iphone {
  bottom: -50px;
  position: absolute;
  /*right: -55px;*/
  right: 0;
}

/* FOOTER */
.footer {
  background-color: rgba(24, 24, 24, .6);
  bottom: 0;
  padding: 1.8rem 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
}
.footer > .ctn {
  position: relative;
}

/* NAV */
.nav {
  text-align: center;
}
.nav_a {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0 5rem;
  text-transform: uppercase;
}
.nav_a:hover,
.nav_a.cycle-pager-active {
  color: #fff;
}

.nav_a.__home {
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
}
.nav_a.__home > img {
  background: url(/assets/images/home.png) 0 0 no-repeat;
  height: 20px;
  width: 22px;
}
.nav_a.__home:hover > img,
.nav_a.__home.cycle-pager-active > img {
  background-position: -22px 0;
}

/* SOCIAL NAV */
.social {
  position: absolute;
  right: 0;
  top: -.5rem;
}
.social_i {
  margin-left: 1.3rem;
}

/* ICONS */
.ico {
  display: inline-block;
}
.ico.__30 {
  background-image: url(/assets/images/ico-30.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}
.ico.__30.__fb {background-position: 0 0;}
.ico.__30.__tw {background-position: -30px 0;}

/* DIALOG */
.dialog {
  position: relative;
  z-index: 1000;
  padding: 4rem;
  background: #fff;
  border-radius: .5rem;
}
.dialog_close {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANJJREFUeNp0kjEKwkAQRXeDRPYAqWxtPYAgbMDW3ktoa+lJrHIJsRDsPIBt2hQhBxDSxL/yI8M4WXiQzP5Hkr/x+8PZcRVgCZ7OXmtQgy7dZEK6k2hIUewXUqzACgRwVXLkLDBTSfEIGl5LWUqOmZR1Mw7Su5fgARYM3rg3F1LJ7O+JUm6EYEpaHOUTGMRs4KyWwcxo7wK8mHnO4pSoi2iJs9rOJqT0TRtitf0Vc55NMIrQhQVm8yT2YMdf6a89JXfM9uM5vsAWvHV7Sg7Muo8AAwBT5TodoRo9LgAAAABJRU5ErkJggg==) 0 0 no-repeat;
  height: 13px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 14px;
  z-index: 1001;
}

/* FORMS */
input:focus, textarea:focus {background: #fff;}

.form {
  left: 50%;
  position: absolute;
  top: 50%;
	-webkit-transform: translate(-50%, -50%);
  -moz-transform:    translate(-50%, -50%);
  -ms-transform:     translate(-50%, -50%);
  -o-transform:      translate(-50%, -50%);
  transform:         translate(-50%, -50%);
  width: 54.5rem;
}
.form_row:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form_row:last-child {
  margin-bottom: 2.5rem;
}
.form_text,
.form_textarea {
  background: #ddd;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #0b0b0b;
  padding: 0 2.5rem;
  font-size: 1.6rem;
  width: 100%;
}
.form_text {
  height: 3.7rem;
}
.form_textarea {
  padding: 1rem 2.5rem;
}
.form_button {
  background: #48bcff;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  height: 5.5rem;
  line-height: 5.5rem;
  text-transform: uppercase;
  padding: 0 3.5rem;
}

/* SELECT */
.select {
  background: #ddd;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  padding: 0 2.5rem;
  font-size: 1.6rem;
  height: 3.7rem;
  line-height: 3.7rem;
  position: relative;
  width: 100%;
}

.select.__active {
  background: #fff;
}

.select_dropdown {
  background: #fff;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 3.6rem;
}
.select_dropdown dd {

}
.select_dropdown dd a {
  color: #0b0b0b;
  display: block;
  padding: 0 2.5rem;
}
.select_dropdown dd a:hover {
  background: #ddd;
}
.select_controls {
  background: url(/assets/images/select.png) 0 0 no-repeat;
  height: 16px;
  position: absolute;
  right: 2.5rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform:    translate(0, -50%);
  -ms-transform:     translate(0, -50%);
  -o-transform:      translate(0, -50%);
  transform:         translate(0, -50%);
  width: 29px;
}
.select.__active .select_controls {
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
  margin-top: -1rem;
}