/* CONTENT STYLES
---------------------------------------------------------------------------------------------------- */
.cnt {
  font-size: 1.3rem;
}

.cnt blockquote:not(:last-child),
.cnt h1:not(:last-child),
.cnt h2:not(:last-child),
.cnt h3:not(:last-child),
.cnt h4:not(:last-child),
.cnt h5:not(:last-child),
.cnt h6:not(:last-child),
.cnt dl:not(:last-child),
.cnt ol:not(:last-child),
.cnt ul:not(:last-child),
.cnt figure:not(:last-child),
.cnt img:not(:last-child),
.cnt p:not(:last-child),
.cnt pre:not(:last-child),
.cnt table:not(:last-child) {margin-bottom: 1rem;}

.cnt ul li {
  list-style-type: disc;
}

/* Links */
.cnt a {
  color: #80c9ff;
  text-decoration: none;
}
.cnt a:hover {color: #80c9ff;}

/* Blockquote */
.cnt > blockquote {
  padding: 3rem;
  border: 1px solid #ccc;
  font-style: italic;
  font-size: 1.75rem;
}

/* Code */
.cnt code {
  display: block;
  background: #eee;
  border: 1px dotted #ccc;
  font-size: 1.75rem;
  white-space: pre-wrap;
}

/* Lists */
.cnt > dl dt {
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.cnt > dl dd {margin-left: 4.5rem;}

.cnt > ol       {list-style-type: decimal;}
.cnt > ol ol    {list-style-type: lower-alpha;}
.cnt > ol ol ol {list-style-type: lower-roman;}

.cnt > ul       {list-style-type: disc;}
.cnt > ul ul    {list-style-type: circle;}
.cnt > ul ul ul {list-style-type: square;}

.cnt > ol li,
.cnt > ul li {margin: 0 0 1rem 3rem;}

.cnt > ol li ol,
.cnt > ol li ul,
.cnt ul li ul {margin-top: 1rem;}

/* Headers */
.cnt > h1,
.cnt > h2,
.cnt > h3,
.cnt > h4,
.cnt > h5,
.cnt > h6 {margin-bottom: 2rem;}

/* Images */
.cnt > img {
  display: block;
  max-width: 100%;
}

/* Quote */
.cnt q {
  font-style: italic;
  quotes: "\00ab" "\00bb";
}
.cnt q:before {content: open-quote;}
.cnt q:after  {content: close-quote;}

/* Small */
.cnt small {
  font-size: 1rem;
  font-weight: 700;
}

/* Sup, sub */
.cnt sub,
.cnt sup {
  font-size: 1rem;
  line-height: 1;
}
.cnt sub {vertical-align: text-bottom;}
.cnt sup {vertical-align: text-top;}

/* Table */
.cnt table {width: 100%;}
.cnt table th,
.cnt table td {
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
}
.cnt table th {
  background: #eee;
  text-align: left;
}